#vfastpost {
    background: #E5EDF2;
    padding: 3px;
}

.previewvfastpost {
    margin: 0px 10px 3px 10px;
}

.fullvfastpost {
    margin-top: 30px;
}

#vfastpost th, #vfastpost td {
    padding: 0px;
}

#vfastpost td {
    height: 38px;
}

#vfastpost #vf_l {
    width: 5px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//v.png) no-repeat -30px -39px;
}

#vfastpost #vf_m {
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//v.png) repeat-x 0px -79px;
}

#vfastpost #vf_m input {
    border: 1px solid white;
    width: 100%;
    border: 1px solid white;
    outline: none;
    font-size: 14px;
}

#vfastpost #vf_r {
    width: 10px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//v.png) no-repeat -47px -119px;
}

#vfastpost #vf_b {
    width: 120px;
}

#vfastpost #vf_b button {
    width: 120px;
    display: block;
    height: 38px;
    line-height: 100px;
    overflow: hidden;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//v.png) no-repeat 0 0;
    margin: 0;
    padding: 0;
    border: none;
}

.quote {
    overflow: hidden;
    margin: 10px 0;
    padding-left: 16px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//qa.gif) no-repeat 0 0;
    color: #aaa;
}

.quote blockquote {
    display: inline;
    margin: 0;
    padding-right: 16px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//qz.gif) no-repeat 100% 100%;
}

.m_c .quote {
    width: 585px;
}

.blockcode {
    overflow: hidden;
    margin: 10px 0;
    padding: 5px 10px;
    background: #F7F7F7;
    color: #aaa;
}

.blockcode code {
    font-family: Monaco, Consolas, 'Lucida Console', 'Courier New', serif;
    font-size: 12px;
    line-height: 1.8em;
}

* html .blockcode code {
    font-family: 'Courier New', serif;
}

.ct2_a .mn {
    float: left;
}

.appl {
    float: right;
    margin-top: 8px;
    border: none;
    background-color: transparent;
}

.upf {
    width: 500px;
}

* + html .upf {
    width: 520px;
}

.upnf {
    white-space: normal;
}

.upbk {
    zoom: 1;
}

.fldt {
    margin-bottom: 8px;
}

.p_pop .flb {
    position: absolute;
    right: 10px;
    top: 18px;
    *top: 13px;
}

.fnm {
    width: 130px !important;
}

.fszm {
    width: 55px !important;
    line-height: normal;
}

.fnm li, .fszm li, .simm li {
    cursor: pointer;
}

.qsv {
    padding-left: 16px;
    width: 16px;
    height: 16px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//repquote.gif) no-repeat 50% 50%;
    cursor: pointer;
}

.marked {
    padding-right: 16px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//mark.png) no-repeat 100% 50%;
}

#taglistarea a {
    white-space: nowrap;
    zoom: 1;
}

#taglistarea .marked {
    padding-right: 0;
    background: none;
    font-weight: 700;
    color: #F26C4F !important;
}

.p_tbl {
    height: auto;
    line-height: 160%;
    border-bottom: none;
}

.p_tbl table {
    *table-layout: fixed;
}

.p_tbl table td {
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #F2F2F2;
}

.atnu {
    width: 16px;
}

.atna {
}

.atna p img, .attswf p img {
    vertical-align: middle;
    height: 16px;
}

.atna .lighttxt, .attswf .lighttxt {
    color: #aaa !important;
}

.attpr {
    width: 40px;
    text-align: center;
}

.attv .px, .attp .px {
    width: 25px;
}

.attv {
    width: 100px;
}

.atturl img {
    height: 20px !important;
}

.attc {
    width: 20px
}

* + html .attc {
    width: 40px;
}

.atds {
    width: 80px;
    text-align: center;
}

.atds .px {
    width: 60px;
}

.attp {
    text-align: center;
    width: 40px;
}

.attach_preview {
    border: 1px solid #CDCDCD;
    box-shadow: 0 0 5px rgba(96, 96, 96, 0.3);
}

.ie8 .attach_preview, .ie9 .attach_preview {
    top: 57px;
    right: 18px;
}

#newspecial_menu {
    width: 90px;
}

#newspecial_menu li, #sti .wx {
    display: block;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//folder_new.gif) no-repeat 8px 50%;
    zoom: 1;
}

#newspecial_menu .poll, #sti .poll {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//pollsmall.gif);
}

#newspecial_menu .trade, #sti .trade {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//tradesmall.gif);
}

#newspecial_menu .reward, #sti .reward {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//rewardsmall.gif);
}

#newspecial_menu .activity, #sti .activity {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//activitysmall.gif);
}

#newspecial_menu .debate, #sti .debate {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//debatesmall.gif);
}

#newspecial_menu a {
    display: block;
    padding: 3px 0 3px 30px;
    white-space: normal;
}

#newspecial_menu a:hover {
    background: none;
    color: #009e73;
    text-shadow: none;
    text-decoration: underline;
}

#sti {
}

#sti .wx {
    padding-left: 25px;
    background-position: 0 50%;
}

#sti .tb {
    margin-top: 0;
}

#f_pst .bm_c {
    padding: 20px;
}

#f_pst .tedt {
    width: auto;
}

.hasfsl {
    margin-right: 170px;
    zoom: 1;
}

#f_pst .upfl {
    height: auto;
    max-height: 100%;
}

#f_pst .upfl td {
    padding: 4px 0;
}

#f_pst .atds {
    width: 100px;
}

#f_pst .px {
    padding: 2px;
}

.mobile-type {
    position: absolute;
    margin: -5px 0 -85px 103px;
    width: 58px;
    height: 80px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//mobile-type.png) no-repeat 100% 100%;
}

.ie6 .mobile-type, .ie7 .mobile-type {
    margin-left: 88px;
}

.mobile-type a {
    display: block;
    width: 46px;
    height: 80px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//mobile-type.png) no-repeat 0 0;
}

.mobile-type-2 a {
    background-position: 0 -80px;
}

.mobile-type-3 a {
    background-position: 0 -160px;
}

.mobile-type-4 a {
    background-position: 0 -240px;
}

.ie6 .mobile-type, .ie6 .mobile-type a {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//mobile-type-ie6.png) !important;
}

.mobile-location {
    padding-left: 20px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//mobile-attach-2.png) no-repeat 0 0;
}

#threadbeginid {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#threadbeginid .beginidin {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 999;
}

#threadbeginid .beginidimg {
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}

.fl {
}

.fl_tb {
    width: 100%;
}

.fl_tb td {
    padding: 10px 0;
}

.fl_icn {
    padding-right: 10px !important;
    width: 31px;
}

.fl_by {
    width: 220px;
}

.fl_by div {
    margin-left: 10px;
    width: 210px;
    padding-left: 8px;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fl_by div .xi2 {
    zoom: 1;
}

.fl_by cite {
    display: block;
}

.fl_i {
    width: 150px;
    text-align: right;
}

.fl_i em {
    display: block;
    width: 5em;
}

.fl .i_z {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid #C2D5E3;
}

.fl_icn_g {
    float: left;
    width: 31px;
}

.fl_g {
    vertical-align: top;
}

.fl_g dl {
    margin-left: 31px;
    padding-left: 10px;
}

.fl_g dt {
    font-weight: 700;
}

.fl_row td {
    border-top: 1px dashed #CDCDCD;
}

.flt {
}

.flt .flc {
    width: 294px;
}

.gcop {
    margin-right: 15px;
    clear: left;
}

.ghfl dt, .flt dt {
    font-size: 14px;
    font-weight: 700;
}

.ghfl dt span, .flt dt span, .flt dd span {
    font-size: 12px;
    font-weight: 200;
    color: #ccc;
}

.ghfl dd, .flt dd {
    line-height: 1.8em;
}

.bdl {
    float: left;
    overflow: hidden;
    border: 1px solid #BDD7E3;
    background-color: #F5F9FB;
}

.ie6 .bdl {
    position: relative;
}

.bdl_h {
    height: 32px;
    line-height: 22px;
}

.bdl .tbn {
    margin: 10px;
}

.bdl dl {
    margin: -1px -10px 0;
}

.bdl dt {
    overflow: hidden;
    height: 27px;
    line-height: 27px;
    border: solid #CCE0EB;
    border-width: 1px 0;
    background: #F5F9FB url(http://www.aqinet.cn/template/xinrui_iuni/images//titlebg_sd.png) repeat-x 100% 0;
}

.bdl dt a {
    display: block;
    padding: 0 15px 0 10px;
}

.bdl dt a:hover, .bdl_a a:hover {
    text-decoration: none;
}

.bdl dd {
    display: none;
}

.bdl dd a {
    display: block;
    margin: 0 3px;
    padding: 0 7px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}

.bdl dl.a {
    padding-bottom: 4px;
    background-color: #FFF;
}

.bdl dl.a dt {
    margin-bottom: 3px;
    background-position: 100% -27px;
}

.bdl dl.a dd, .bdl_fav dd {
    display: block;
    overflow: hidden;
    zoom: 1;
}

.bdl dd.bdl_a a {
    background-color: #F5F9FB;
    font-weight: 700;
    color: #009e73;
}

.previewPost {
    width: 100%;
    font-size: 14px;
}

#autopbn {
    display: block;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 213, 227);
    border-radius: 3px;
    text-align: center;
}

#autopbn:hover {
    background: #fff;
    text-decoration: none;
}

.ico_increase, .ico_fall {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//increase.png) no-repeat left center;
    vertical-align: middle;
    text-indent: -999em;
}

.ico_fall {
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//fall.png) no-repeat left center;
}

#ReTie_review h6 {
    padding: 0 10px;
    line-height: 27px;
}

.review_this {
    padding: 5px 0 10px;
}

.review_this li {
    float: left;
    width: 7.5%;
    text-align: center;
}

#forumnew {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.tl #forumnewshow {
    background: #FFFAF3;
    font-size: 12px;
    text-align: center;
}

.tl #forumnewshow th, .tl #forumnewshow td {
    padding: 0;
    border: 0;
}

.tl #forumnewshow th:hover, .tl #forumnewshow td:hover {
    background: #FFFFE9;
}

.tl #forumnewshow a {
    display: block;
    border-top: 1px solid #F4E4B4;
    border-bottom: 1px solid #F4E4B4;
    text-indent: 25px;
    height: 29px;
    line-height: 29px;
    color: #EFAA00;
}

.tl #forumnewshow a:hover {
    text-decoration: none;
}

#checknewline tr td, #checknewline tr th {
    background: #FFFFEB;
    text-align: center;
    color: #666;
}

.newthread tr th, .newthread tr td {
    background: #FFFAF3;
}

.newthread .new em {
    margin-right: 4px;
}

.newthread .new em, .newthread .new em a {
    color: #007CD5;
    font: 12px/1.5 'Microsoft Yahei', tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
}

.forumrefresh {
    padding-right: 14px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//refresh.png) no-repeat 100% 50%;
}

#fjump_menu {
    overflow-x: hidden;
    max-height: 600px;
}

#fjump_menu dl {
    width: 200px;
}

#fjump_menu dt {
    font-weight: 700;
}

#fjump_menu dd {
    text-indent: 1em;
}

#fjump_menu li.a a {
    background-color: #E5EDF2;
}

.fct a {
    float: left;
    margin-left: 8px;
}

.fa_fav_0, .fa_fav, .fa_rss, .fa_achv, .fa_bin, .fa_ivt {
    padding-left: 20px;
    background: no-repeat 0 50%;
}

.fa_fav_0 {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//fav_grey.gif);
}

.fa_fav {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//fav.gif);
}

.fa_rss {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//feed.gif);
}

.fa_achv {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//clock.gif);
}

.fa_bin {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//recyclebin.gif);
}

.fa_ivt {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//user_add.gif);
}

#fh {
    width: 644px;
}

.mw #fh {
    width: 100%;
}

#fh .bm {
    padding-top: 5px;
    padding-bottom: 0;
}

#nv_group #fh {
    margin-bottom: 1em;
}

#fh #gh {
    padding-top: 10px;
}

#fh .h {
    margin-top: 10px;
}

#fh .h * {
    float: left;
}

#fh h1 {
    margin-right: 10px;
    font-size: 16px;
}

#fh .h .y {
    float: right;
}

#fh .o a {
    float: left;
    margin-right: 10px;
}

#fh.m {
    padding-top: 0;
    background-color: #F2F2F2;
}

.xst {
    font-family: 'Microsoft Yahei', tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
    font-size: 14px;
}

.xst i {
    font-style: italic;
}

.ttp {
    margin-bottom: 5px;
    padding-top: 10px;
    border-width: 2px 0 0;
    background: transparent;
}

.ttp li {
    float: left;
    padding-bottom: 5px;
}

.ttp a, .ttp strong {
    float: left;
    margin-right: 5px;
    padding: 4px 8px 3px;
    height: 18px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    white-space: nowrap;
}

.ttp a:hover {
    border-color: #009e73;
    color: #009e73;
    text-decoration: none;
}

.ttp .a a {
    padding-right: 12px;
    padding-left: 12px;
    border-color: #009e73;
    background: #E5EDF2;
    color: #009e73;
}

.ttp .pipe {
    float: left;
    margin-right: 10px;
    padding: 0;
    width: 2px;
    height: 27px;
    background: #C2D5E3;
    text-indent: -9999px;
}

.cttp {
    overflow: hidden;
    padding-right: 35px;
    height: 32px;
}

.cttp .unfold, .cttp .fold {
    float: right;
    display: inline;
    margin: 5px -35px 9px 0;
    padding: 0 0 0 10px;
    width: 25px;
    height: 18px;
    background-color: transparent;
    color: #009e73;
    font-weight: 400;
}

.tl .bm_c {
    padding-top: 0;
}

.tl table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.tl th, .tl td {
    padding: 5px 0;
    border-bottom: 1px solid #C2D5E3;
}

.emptb th, .emptb td {
    padding: 0;
    border-bottom: none;
}

.tl tr:hover th, .tl tr:hover td {
    background-color: #F2F2F2;
}

.tl .threadpre td, .tl .threadpre:hover td {
    background-color: #FCFCFC;
}

.tl .threadpre .threadpretd {
    border-left: 1px solid #C2D5E3;
    border-right: 1px solid #C2D5E3;
}

.tl th .tdpre, .tl td.fn .tdpre {
    visibility: hidden;
    display: inline;
    width: 31px;
    height: 17px;
    margin-top: 3px;
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//preview.png);
    text-indent: -999em;
    overflow: hidden;
}

.tl th:hover .tdpre, .tl td.fn:hover .tdpre {
    visibility: visible;
}

.ie6 .tl th .tdpre, .ie6 .tl td.fn .tdpre {
    display: none;
}

.fastpreview {
    position: relative;
}

.icon_preview {
    position: absolute;
    display: block;
    left: 80px;
    top: -13px;
    width: 11px;
    height: 8px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//icon_preview.png);
    overflow: hidden;
}

a.icon_up {
    display: block;
    margin: 0 10px;
    height: 25px;
    background: #F2F2F2 url(http://www.aqinet.cn/template/xinrui_iuni/images//arrow_up.png) no-repeat 50% 50%;
    overflow: hidden;
    border: 1px dashed rgb(194, 213, 227);
    border-radius: 3px;
}

a.icon_up:hover {
    background: #FFF url(http://www.aqinet.cn/template/xinrui_iuni/images//arrow_up_hover.png) no-repeat 50% 50%;
}

.fastpreview td {
    border-bottom: none !important;
}

.tl th, .tl td.fn {
    padding-right: 1.5em;
    zoom: 1;
}

.tl th a:visited, .tl td.fn a:visited {
    color: #aaa;
}

.fromg {
    visibility: hidden;
}

.ie6 .fromg, tr:hover .fromg {
    visibility: visible;
}

.tl .icn {
    padding-left: 5px;
    width: 25px;
    text-align: left;
}

.tl .icn a:hover {
    text-decoration: none;
}

.tl .new {
}

.tl .comm {
}

.tl .frm {
    width: 150px;
}

.tl .o {
    width: 20px;
}

.tl .num {
    width: 60px;
    line-height: 14px;
}

.tl .by {
    width: 105px;
    line-height: 14px;
}

.tl cite, .tl .num em {
    display: block;
}

.tl th em {
    margin-right: 4px;
    zoom: 1;
}

.tl th em, .tl th em a {
    color: #007CD5;
}

.tl td em {
    font-size: 11px;
    font-family: Arial, PMingliu, sans-serif;
    -webkit-text-size-adjust: none;
}

.tl td em, .tl td em a {
    color: #ccc;
}

.tl .ts th, .tl .ts td {
    padding: 3px 0;
    border-bottom-color: #CDCDCD;
    background: #F2F2F2;
}

.tl .th {
    margin-top: 1px;
    padding: 0 10px;
    border-bottom: 1px solid #CDCDCD;
    background: #F2F2F2;
}

.tl .th table {
    border: none;
}

.tl .th td, .tl .th th {
    height: 20px;
    border: none;
    vertical-align: baseline;
}

.tl .tf {
    padding: 3px 0;
}

.tf .showmenu:hover {
    border-color: #C2D5E3;
}

.tl_reply {
    padding-left: 10px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//dot.gif) no-repeat 0 7px;
}

.recy {
    text-decoration: line-through;
}

.tps {
    white-space: nowrap;
}

.tps a {
    padding: 2px 4px;
    color: #555;
}

.tps a:hover {
    background-color: #F2F2F2;
    color: #007CD5;
}

.tsm {
    overflow: hidden;
    margin-bottom: -10px;
    width: 100%;
    border-collapse: collapse !important;
}

.ie6 .tsm, .ie7 .tsm {
    margin-bottom: 0;
}

.tsm th {
    padding: 5px 0 5px 10px;
    border: none;
    vertical-align: top;
}

.tsm td {
    padding: 5px 10px 5px 0;
    border: none;
    vertical-align: top;
}

.tsm tr:hover th, .tsm tr:hover td {
    background: none !important;
}

.tsm li {
    float: left;
    margin-right: 4px;
    padding: 0 4px;
    white-space: nowrap;
}

.tsm .a a {
    color: #555;
    font-weight: 700;
}

.tsm .a a:hover {
    text-decoration: none;
}

.subtsm {
    margin-top: 5px;
    padding: 5px;
    border: 1px dotted #C2D5E3;
}

.mfm .mtm {
    margin-right: 10px;
}

.mfm span {
    height: 26px;
}

.ttp .a a:hover {
    background: #E5EDF2 url(http://www.aqinet.cn/template/xinrui_iuni/images//close-s.png) no-repeat 100% 11px;
}

#ttp_all a:hover {
    background-image: none !important;
}

#atarget, .unchk, .chked {
    padding-left: 15px;
    line-height: 16px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//atarget.png) no-repeat 0 3px;
    color: #009e73;
    cursor: pointer;
}

.ie_all #atarget, .ie_all .unchk, .ie_all .chked {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

#atarget.atarget_1, .chked {
    background-position: 0 -37px;
}

.unchk:hover, .chked:hover {
    text-decoration: none;
}

#a_magic_doodle {
    padding-left: 20px;
    background: url(http://www.aqinet.cn/static/image/magic/doodle.small.gif) 0 50% no-repeat;
}

.ttp .num {
    background: #999;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 3px;
    color: #FFF !important;
}

.ttp .a .num {
    background: #91BDD3;
}

.pop_moremenu li {
    display: block;
    border-bottom: 1px solid #E5EDF2;
    line-height: 24px;
}

.pop_moremenu a {
    display: inline;
    text-decoration: none;
    border-bottom: 0;
}

.pop_moremenu li:last-child {
    border-bottom: none;
}

.pop_moremenu .pipe {
    margin: 0;
}

.pop_moremenu a.xw1 {
    background-color: #E5EDF2;
    color: #009e73;
    text-decoration: none;
    font-weight: normal;
}

.mlt {
}

.mlt li {
    display: inline;
    margin: 0 4px 10px;
    padding-top: 5px;
    border: 1px solid #E5EDF2;
    border-bottom-color: #C2D5E3;
    background: #FFF;
    text-align: left;
}

.mlt .sum {
    display: inline-block;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 5px;
    background: #E5EDF2;
}

.mlt .pin {
    background: #7B3;
    color: #FFF;
}

.mlt .digest {
    background: #0BC;
    color: #FFF;
}

.mlt .c .nopic {
    display: block;
    background: #FFF url(http://www.aqinet.cn/template/xinrui_iuni/images//nophototiny.png) no-repeat 50% 50%;
    cursor: pointer;
}

.mlt img.vm {
    display: inline;
}

.mlt h3 {
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mlt li .cl {
    height: 18px;
    overflow: hidden;
}

.mlt li .c {
    height: auto !important;
}

.mlt li span {
    display: inline;
    color: #555;
}

.tl tbody:last-child th, .tl tbody:last-child td {
    border-bottom: none;
}

.tl tbody:last-child .threadpre .threadpretd {
    border: 1px solid #C2D5E3;
}

.showhide {
    width: 12px;
    height: 12px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//close.gif) no-repeat 0 0;
    text-indent: -999em;
    cursor: pointer;
    overflow: hidden;
    margin: 5px 5px 0px 5px;
}

.showhide:hover {
    background-position: 0 -12px;
}

.ie6 .showhide {
    display: none;
}

.pcb .jammer {
    font-size: 10px;
    color: #FFF;
}

#hiddenthread {
    border-top: 1px solid #C2D5E3;
    border-bottom: 1px solid #C2D5E3;
    line-height: 40px;
    padding-left: 20px;
    background: #FFFAF3;
    font-size: 12px;
    text-align: center;
}

#hiddenthread.last, .ie6 #hiddenthread, .ie7 #hiddenthread, .ie8 #hiddenthread {
    border-top: none;
}

#hiddenthread a {
    display: block;
    text-indent: 25px;
    height: 29px;
    line-height: 29px;
    color: #EFAA00;
}

#hiddenthread a:hover {
    text-decoration: none;
}

.previewPost .tindex {
    padding: 5px;
    width: 500px;
    line-height: 22px;
    border: 1px solid #dfdfdf;
}

.previewPost .tindex h3 {
    border-bottom: 1px #ccc dotted;
    margin-bottom: 10px;
    padding-left: 10px;
}

.previewPost .tindex li {
    cursor: pointer;
    height: 22px;
    padding-left: 22px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//ico_mulu.png) no-repeat 10px center;
    overflow: hidden;
}

#visitedforums_menu {
    width: 150px;
}

#visitedforums_menu li {
    display: block;
    float: none;
}

#visitedforums_menu td {
    padding: 5px 10px;
    vertical-align: top;
}

#visitedforums_menu a {
    white-space: normal !important;
    display: inline-block;
    overflow: hidden;
    height: 1.5em;
}

#v_forums {
    width: 120px;
}

#v_threads li, #v_forums li {
    padding-left: 10px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//dot.gif) no-repeat 0 7px;
}

#fastsmilies {
    text-align: right;
}

#fastsmilies table {
    table-layout: auto;
    width: 160px;
    height: 133px;
}

#fastsmilies td {
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
}

#fastsmilies img {
    vertical-align: middle;
}

.zoominner {
    padding: 5px 10px 10px;
    background: #FFF;
    text-align: left;
}

.zoominner p {
    padding: 8px 0;
}

.zoominner p a {
    float: left;
    margin-left: 10px;
    width: 17px;
    height: 17px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//imgzoom_tb.gif) no-repeat 0 0;
    line-height: 100px;
    overflow: hidden;
}

.zoominner p a:hover {
    background-position: 0 -39px;
}

.zoominner p a.imgadjust {
    background-position: -40px 0;
}

.zoominner p a.imgadjust:hover {
    background-position: -40px -39px;
}

.zoominner p a.imgclose {
    background-position: -80px 0;
}

.zoominner p a.imgclose:hover {
    background-position: -80px -39px;
}

.zimg_c {
    position: relative;
}

.zimg_prev, .zimg_next {
    display: block;
    position: absolute;
    width: 80px;
    height: 100%;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//pic-prev.png) no-repeat 0 -100px;
    cursor: pointer;
}

.zimg_next {
    right: 10px;
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//pic-next.png);
    background-position: 100% -100px;
}

.zimg_c img {
    margin: 0 auto;
}

.zimg_p strong {
    display: none;
}

.unfold, .fold {
    float: right;
    padding-left: 10px;
    background: url(http://www.aqinet.cn/template/xinrui_iuni/images//arrwd.gif) no-repeat 0 50%;
    cursor: pointer;
    outline: none;
}

.fold {
    background-image: url(http://www.aqinet.cn/template/xinrui_iuni/images//arrow_top.gif);
}

#livereplycontentout {
    position: relative;
    height: 195px;
    margin-top: 10px;
    border: 1px solid #E8F1F7;
    background: #FFF;
    overflow-y: auto;
}

#livereplycontent {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 15px;
}

#liverefresh {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #FCF4CD;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px dashed #FCE491;
    color: #F26C4F;
}

#livefastcomment {
    position: relative;
    height: 34px;
    margin: 10px 0px 0px 0px;
    border: 1px solid #E8F1F7;
    background-color: #FFF;
    padding: 5px 10px;
}

#livereplycontent dl {
    position: relative;
    width: 100%;
    min-height: 45px;
    line-height: 20px;
    padding: 10px 0;
    border-top: 1px #ccc dotted;
    clear: both;
}

#livereplycontent dl dt {
    position: absolute;
    left: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    border: 1px #ccc solid;
    padding: 1px;
}

#livereplycontent dl dt img {
    width: 40px;
    height: 40px;
}

#livereplycontent dl dd {
    padding-left: 62px;
}

#livereplycontent dl dd a {
    color: #009e73;
}

#livereplycontent dl dd.dateline {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0;
    color: #999;
}

#livereplymessage {
    width: 100%;
    line-height: 28px;
    height: 33px;
    padding: 0px !important;
    border: none;
    outline: 0px;
    background: white none;
    overflow-y: auto;
}

.ie6 #livereplycontent dl, .ie7 #livereplycontent dl {
    width: 97%;
}

#livethread {
    background: #F5F9FB;
    border-top: 2px solid #BDD7E3;
}

.livethreadtitle {
    margin-bottom: 5px;
}

.livethreadtitle a {
    color: #009e73;
    font-size: 14px;
}

.livethreadtitle img {
    vertical-align: middle;
}

.livethreadtitle .replynumber {
    float: right;
    line-height: 25px;
}

.livethreadtitle .replynumber .xi1 {
    background: #F26C4F;
    padding: 0 5px;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
}

.livethreadcon {
    line-height: 160%;
    font-size: 14px;
}

.syn_qq, .syn_tqq, .syn_qq_check, .syn_tqq_check {
    display: inline-block;
    margin-top: 3px;
    width: 19px;
    height: 19px;
    background: transparent url(http://www.aqinet.cn/template/xinrui_iuni/images//connect_post_syn.png) no-repeat 0 0;
    line-height: 64px;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
}

.ie6 .syn_qq, .ie6 .syn_tqq, .ie6 .syn_qq_check, .ie6 .syn_tqq_check {
    display: inline;
}

.syn_qq_check {
    background-position: -22px 0;
}

.syn_tqq {
    background-position: 0 -22px;
    margin-left: 5px;
}

.syn_tqq_check {
    background-position: -22px -22px;
    margin-left: 5px;
}
.th a{
    color:white;
    font-size: 12pt;
    display: inline-block;
    margin-top: 10px;
}
.th a:hover{
    font-size:16pt;
    color:red;
}
